# OS
.DS_Store

# Backend
/backend/dist
/backend/node_modules
/backend/.env
/backend/uploads/

# Dashboard
/dashboard/dist
/dashboard/node_modules
/dashboard/.env

# Extension
/extension/dist
/extension/node_modules
/extension/.env

# Packages
/packages/sourcemap-upload/node_modules
